<MudCard>
    <MudCardContent>
        <MudStack>
            <MudPaper Class="pa-4">
                <MudStack Justify="Justify.SpaceBetween" Row="true">
                    <div>
                        <MudSkeleton class="w-28 h-28 rounded-md" />
                        <MudStack Justify="Justify.Center" Spacing="0">
                            <MudSkeleton Width="30%"/>
                            <MudSkeleton Width="30%"/>
                        </MudStack>
                    </div>
                    <MudStack AlignItems="AlignItems.Center" Class="Justify-items-end" Row="true">
                        <MudSkeleton Width="10%" />
                        <MudSkeleton Width="5%" />
                        <MudSkeleton Width="10%" />  
                    </MudStack>
                </MudStack>
            </MudPaper>
        </MudStack>
    </MudCardContent>
</MudCard>