@page "/carrinho/{id}"
@attribute [AllowAnonymous]
@layout EmptyLayout

@inherits CartPage

<PageTitle>Carrinho</PageTitle>

@if(Cart != null)
{
    <MudPaper>
        <MudText Typo="Typo.h6">Sacola (@Cart!.TotalItems)</MudText>
    </MudPaper>
}

<MudPaper Class="flex justify-center items-center h-screen flex-col">
    @if (Cart != null && Cart!.CartItems.Any())
    {
        @foreach(var item in Cart.CartItems)
        {
            <CartItem CartItem="@item" DecreaseCart="CartItemRemove" IncreaseCart="CartItemAdd"/>
        }

    }
    else
    {

        <div class="relative w-40 h-40 rounded-full bg-blue-500">
            <div class="absolute inset-0 bg-center bg-cover" style="background-image: url('./empty-bag.png');"></div>
        </div>
        <MudText>Sacola Vazia</MudText>
    }
</MudPaper>